repos:
  - repo: local
    hooks:
      - id: luacheck
        name: luacheck
        entry: make lint
        language: system
        files: \.lua$
        pass_filenames: false
      - id: stylua-format
        name: stylua-format
        entry: make format
        language: system
        files: \.lua$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
